.calendly-container {
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5%;
    background-image: var(--white-text);
    color: var(--background-color);


}


.calendly-description {
    font-weight: 700;
}

.calendly-button {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--white-text);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.calendly-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.calendly-button:active {
    background-color: var(--hover-button-background-color);
    color: var(--background-color);
}