.personalData {
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5%;
    background-image: var(--white-text);
    color: var(--background-color);
}

.dataForm {
    margin: 10px 0;
    text-align: center;
    color: var(--background-color);
    font-weight: 700;
}

.dataForm-title {
    font-weight: 700;
}


.user-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 2%;
}

.edit-user-btn {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--white-text);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.edit-user-btn:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.edit-user-btn:active {
    background-color: var(--hover-button-background-color);
    color: var(--background-color);
}