.userCard {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.trainer-exercise {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.user-title {
    color: var(--background-color);
}

.user-search-title {
    color: var(--background-color);
}

.input-container {
    width: 100%;
    align-self: center;

}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--white-text);
    color: var(--background-color);
}

.search-btn {
    width: auto;
    padding: 10px;
    margin: 0 5px 10px 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--white-text);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.clear-btn {
    margin-left: 5px;
}

.user-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    justify-content: center;
}




.user-card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px;
    min-width: 250px;
    max-width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;
    transition: box-shadow 0.3s;
}

.user-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.user-name {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 8px;
    color: var(--background-color);
}

.user-data {
    margin: 8px 0;
    color: var(--background-color);
}

.more-info-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--white-text);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.more-info-btn:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.more-info-btn:active {
    background-color: var(--hover-button-background-color);
    color: var(--background-color);
}