.trainer-exercise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.exercise-table-container {
    width: 100%;
    margin-bottom: 20px;
    border: 2pxsolid red;
}

.routine-form-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white-text);
    border-radius: 16px;
}

.search-input-trainer {
    height: 50px;
    text-align: center;
    font-weight: 700;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    padding-top: 10px;
}

.select-exercise-option {
    text-align: center;
}

.reps-select {
    text-align: center;

}

.days-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 5px;
    color: var(--background-color);
    text-align: center;
}

.day-section {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--background-color);
    text-align: center;
    border-radius: 3px;
}

.exercise-select,
.reps-select {
    width: 100%;
    padding: 5px;
}

.add-exercise-button,
.save-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--white-text);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.add-exercise-button:hover,
.save-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.add-exercise-button:active,
.save-button:active {
    background-color: var(--hover-button-background-color);
    color: var(--background-color);
}

.save-button {
    margin-top: 5px;
}

.search-input-trainer {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}



.error-message {
    color: red;
    font-weight: bold;
}